GOOGLE_GENAI_API_KEY=
# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Database Configuration
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_PORT=

# NextAuth Configuration
# Generate a new secret using: openssl rand -base64 32
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# Optional: Add other environment variables below if needed
# e.g., API keys, feature flags, etc.
